/* .search-bar {
  display: flex;
  border-radius: 10px;
  background-color: white;
} */
.search-bar {
  background-color: #fff;
  border-radius: 50px;
  width: 240px;
}
.bg-body-tertiary {
  /* margin: 0px 10px 0px 10px; */
  border-radius: 10px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0px 0px 1rem 0px;
  /* background-color: white !important; */
}
input {
  border: none;
  padding-left: 10px;
  background-color: #fff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 50px 0px 0px 50px !important;
}
input:focus {
  outline: none !important;
}
.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  display: flex;
  gap: 2rem;
}
